


	/*.rule_list_container{
		display: inline-block;
		width: 60%;
	}*/

	/*.weight_based_rule_list input[type=number]{
		display: inline-block;
		width: 24%;
		text-align: center;
	}
	.weight_based_rule_list .rule_item input{
		background-color: transparent !important;
		border: none !important;
	}*/